<nav id="navbar" class="navbar navbar-absolute regular-transition {% if background == "true" %}navbar-purple{% endif %}">
    <div class=" navbar-container">
        <!-- logo  -->
        <div class="navbar-logo-container">
            <a href="/" class="navbar-logo-link">
                <img src="/assets/images/logo.svg" alt="Tanzstudio Logo" class="navbar-logo">
            </a>
        </div>
        <!-- logo  -->
        <!-- hamburger icon  -->
        <div class="navbar-hamburger-icon-container">
            <div id="navbar-hamburger-btn" class="navbar-hamburger-icon">
                <div class="navbar-hamburger-icon-bar"></div>
                <div id="navbar-hamburger-icon-middle-bar" class="navbar-hamburger-icon-bar">
                </div>
                <div class="navbar-hamburger-icon-bar"></div>
            </div>
        </div>
        <!-- hamburger icon  -->
        <!-- side menu  -->
        <div id="navbar-side-menu-backdrop" class="navbar-side-menu-container-bg"></div>
        <div id="navbar-side-menu" class="navbar-side-menu-container height-limit">
            <div class="nav-links-container">
                <!-- nav link  -->
                <div class="lang-toggler-container">
                    <button data-lang-toggler="en" class="lang-toggler regular-transition">English</button>
                    <button data-lang-toggler="de" class="lang-toggler regular-transition">Deutsch</button>
                </div>
                <!-- nav link  -->
                <!-- nav link  -->
                <div class="nav-link-container">
                    <a data-nav-link="#home" href="/#home" class="nav-link active-nav-link" data-key-text="navigation.data.home">
                        Home
                    </a>
                </div>
                <!-- nav link  -->
                <!-- nav link  -->
                <div class="nav-link-container">
                    <a data-nav-link="#goals" href="/#goals" class="nav-link" data-key-text="navigation.data.about-us">
                        About us
                    </a>
                </div>
                <!-- nav link  -->
                <!-- nav link  -->
                <div class="nav-link-container">
                    <a data-nav-link="#courses" href="/#courses" class="nav-link" data-key-text="navigation.data.our-courses">
                        Our courses
                    </a>
                </div>
                <!-- nav link  -->
                <!-- nav link  -->
                <div class="nav-link-container">
                    <a data-nav-link="#team" href="/#team" class="nav-link" data-key-text="navigation.data.our-team">
                        Our team
                    </a>
                </div>
                <!-- nav link  -->
                <!-- nav link  -->
                <div class="nav-link-container">
                    <a data-nav-link="#news" href="/#news" class="nav-link" data-key-text="navigation.data.news">
                        News
                    </a>
                </div>
                <!-- nav link  -->
                <!-- nav link  -->
                <div class="nav-link-container">
                    <a data-nav-link="#contact" href="/#contact" class="nav-link" data-key-text="navigation.data.contact-us">
                        contact us
                    </a>
                </div>
                <!-- nav link  -->
                <!-- nav link  -->
                <div class="nav-link-container">
                    <a data-nav-link="class-registration" href="/class-registration" class="nav-link"
                        data-key-text="navigation.data.class-registration">
                        Class registration
                    </a>
                </div>
                <!-- nav link  -->
            </div>

        </div>
        <!-- side menu  -->
    </div>
</nav>