
<!-- alert -->
<div id="alert" class="alert">
  <!-- success  -->
  <div id="alert-success" class="alert-text-box">
    <i class="fa-regular fa-circle-check alert-text-icon"></i>
    <p data-alert-text="success" class="alert-text">This is a sample alert</p>
  </div>
  <!-- success -->
  <!-- error  -->
  <div id="alert-error" class="alert-text-box">
    <i class="fa-regular fa-circle-xmark alert-text-icon"></i>
    <p data-alert-text="error" class="alert-text">This is a sample alert</p>
  </div>
  <!-- error -->
  <button id="alert-close-btn" class="alert-close-btn">
    <i class="fa-solid fa-xmark alert-close-icon"></i>
  </button>
</div>
<!-- alert  -->
